.container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    width: 30%;
    background-color: white;
    z-index: 10;
}

/* Override EUI flyout styles */
.custom-flyout {
    position: fixed;
    right: 0;
    left: auto;
    bottom: auto;
    max-height: none !important;
    border-radius: 0 !important;
}