.container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    /* max-width: 250px; */
    /* gap: 1rem; */
}

.top {
    display: flex;
    justify-content: space-between;
}

.entityInstanceContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;
    max-height: 200px;
    overflow-y: auto;
}

.entityInstance {
    display: flex;
    gap: .3rem;
}