:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Entity colors */
  --agent-color: #FE0000;
  --agent-color-light: #FD8F8F;

  --hub-color: #02AE4F;
  --hub-color-light: #81D7A7;

  --object-color: #ED7D31;
  --object-color-light: #F6BE98;

  --event-color: #7835AE;
  --event-color-light: #BC9AD7;

  --task-color: #02ABF1;
  --task-color-light: #A4D8F1;

  /* Flair */
  --golden-color: #B1A452;
  --purple-color: #6034FF;
  --purple-color-light: #A737C8;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}