.guideContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.guideSection {
    display: flex;
    flex-direction: column;
}

.guideTitle {
    color: var(--purple-color-light) !important;
    text-align: center;
    margin-bottom: 1rem;
}

.guideText {
    text-align: center;
}

.agentButton {
    background-color: var(--agent-color-light) !important;
    color: white !important;
}

.hubButton {
    background-color: var(--hub-color-light) !important;
    color: white !important;
}

.agentColor {
    color: var(--agent-color) !important;
}

.hubColor {
    color: var(--hub-color) !important;
}

.objectColor {
    color: var(--object-color) !important;
}

.taskColor {
    color: var(--task-color) !important;
}

.eventColor {
    color: var(--event-color) !important;
}